@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214,255,252;
  --background-end-rgb: 255,219,250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, rgba(var(--background-start-rgb), 1), rgba(var(--background-end-rgb), 1));
  padding-bottom: 4rem; /* フッターの高さに合わせてパディングを追加 */
}

/* Form input fields style */
input, textarea, select {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  input, textarea, select {
    background-color: rgb(var(--input-background-rgb));
    color: rgb(var(--text-color-rgb));
    border: 1px solid rgb(var(--input-border-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/**/

.fuwafuwa {
  display: inline-block; /* 要素をインラインブロックに設定 */
  transition: transform 0.2s ease-in-out; /* 変換のトランジションを設定 */
}

.fuwafuwa:hover {
  transform: translateY(-1px); /* hover時に上に5ピクセル移動 */
  transform: scale(1.02); /* hover時に要素を拡大 */
}

.fuwafuwa:active {
  transform: scale(0.95); /* クリック時に要素を少し縮小 */
}

.fuwafuwa-less {
  display: block; /* 要素をブロックに設定 */
  transition: transform 0.2s ease-in-out; /* 変換のトランジションを設定 */
  backface-visibility: hidden; /* 要素の裏面を描画しない */
}

.fuwafuwa-less:hover {
  transform: translateY(-0.5px) scale(1.005); /* hover時に上に0.5ピクセル移動し、要素を少し拡大 */
}

.fuwafuwa-less:active {
  transform: scale(0.998); /* クリック時に要素を少し縮小 */
}