@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214,255,252;
  --background-end-rgb: 255,219,250;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, rgba(var(--background-start-rgb), 1), rgba(var(--background-end-rgb), 1));
  padding-bottom: 4rem; /* フッターの高さに合わせてパディングを追加 */
}

/* Form input fields style */
input, textarea, select {
  background-color: rgb(var(--background-start-rgb));
  color: rgb(var(--foreground-rgb));
  border: 1px solid rgb(var(--foreground-rgb));
}

@media (prefers-color-scheme: dark) {
  input, textarea, select {
    background-color: rgb(var(--input-background-rgb));
    color: rgb(var(--text-color-rgb));
    border: 1px solid rgb(var(--input-border-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
